name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up JDK 21 
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'adoptopenjdk'

    - name: Build with Maven
      run: mvn clean install -DskipTests=false

    - name: Run tests
      run: mvn test
